*.json
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/403e46c0-afcf-4538-914e-95f4a43fcc49.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/d773bd5f-38a4-48b5-a763-dd40af3a0943.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/354fb0ea-9413-4e12-b3ed-2637578a16da.vsidx
04_frontend_web/frontend_react/.vs/slnx.sqlite
04_frontend_web/frontend_react/.vs/slnx.sqlite
