*.json
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/403e46c0-afcf-4538-914e-95f4a43fcc49.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/d773bd5f-38a4-48b5-a763-dd40af3a0943.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/354fb0ea-9413-4e12-b3ed-2637578a16da.vsidx
04_frontend_web/frontend_react/.vs/slnx.sqlite
04_frontend_web/frontend_react/.vs/slnx.sqlite
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/755abd9f-e11a-455c-94cb-1bfa486809f7.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/1542af06-a9d3-4d83-b9ea-b7a631656a8a.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/918becec-9d41-4eae-b2c3-ebac598bfa6e.vsidx
04_frontend_web/frontend_react/.vs/slnx.sqlite
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/1542af06-a9d3-4d83-b9ea-b7a631656a8a.vsidx
03_backend/proyect/src/main/resources/application.properties
