*.json
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/403e46c0-afcf-4538-914e-95f4a43fcc49.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/d773bd5f-38a4-48b5-a763-dd40af3a0943.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/354fb0ea-9413-4e12-b3ed-2637578a16da.vsidx
04_frontend_web/frontend_react/.vs/slnx.sqlite
04_frontend_web/frontend_react/.vs/slnx.sqlite
04_frontend_web/frontend_react/.vs/slnx.sqlite
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/f6da1e37-2cba-459d-aa2b-8727b6b2d559.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/6a80acee-513a-4960-b8d6-7c2fd483b62c.vsidx
04_frontend_web/frontend_react/.vs/frontend_react.slnx/FileContentIndex/1d880ccb-7c4a-4e5b-918c-93123eb5d613.vsidx
04_frontend_web/frontend_react/.vs/slnx.sqlite
