<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../bootstrap/Iconos/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/productos.css">
</head>
<body>
     <!--Navbar-->
    <div class="container-fluid">


    <nav class="navbar  bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../../principal/html/paginaInicio.html">InnovationFussion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">



            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Calzado
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../Zapatos/html/zapato.html">Mujer</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../Zapatos/html/zapato.html">Hombre</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../Zapatos/html/zapato.html">Niño</a></li>
            </ul>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Bolso
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Mujer</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Hombre</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Niño</a></li>
            </ul>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Novedades
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Mujer</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Hombre</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Niño</a></li>
            </ul>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Descuento
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Mujer</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Hombre</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Niño</a></li>
            </ul>
            </li>



<!--persona perfil-->
            <li class="nav-item">
            <a class="nav-link" href="../../seccionusuario/html/usuario.html">
                <i class="bi bi-person-fill"></i>
            </a>
            </li>

<!--Favoritos-->
            <li class="nav-item">
            <a class="nav-link" href="../../seccionusuario/html/favoritos.html">
                <i class="bi bi-heart-fill"></i>
            </a>
            </li>

<!--Carrito-->
 
            <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-cart-fill"></i>
            </a>
            </li>



        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>


    </div>


<!--NAVBAR-->

                                        <!--PRODUCTO-->
<div class="container-fluid">



    <div class="row">

<!--FILA1-->
        <div class="col-12 col-sm-12 col-md-5">
            <img src="../img/botas2.jpeg" class="img-thumbnail" class="coleccion" alt="..." src="pagina2.html">
        </div>



<!--FILA2-->
        <div class="col-12 col-sm-12 col-md-7">

            <div class="row">

                <div class="col-12">
                    <h1 class="text-white">Producto</h1>
                    <h3 class="text-white">$95.00</h3>
                    <hr class="my-3 border border-white border-2">
                </div>

                

                <div class="col-12">


                    <div class="row">


                        <div class="col-3">
                            <h5 class="text-white">color</h5>
                        </div>


                        <div class="col-9">
                            <select class="form-select mb-2" aria-label="Default select example">
                                <option selected>Escoge una Opcion</option>
                                <option value="1">Negro</option>
                                <option value="2">Blanco</option>
                                <option value="3">Rojo</option>
                                <option value="4">Azul</option>
                            </select>
                        </div>

                    </div>




                    <div class="row">


                        <div class="col-3">
                            <h5 class="text-white">Talla</h5>
                        </div>


                        <div class="col-9">
                            <select class="form-select mb-2" aria-label="Default select example">
                                <option selected>Escoge una Opcion</option>
                                <option value="1">34</option>
                                <option value="2">35</option>
                                <option value="3">36</option>
                            </select>
                        </div>

                    </div>

                </div>


                <div class="row">

                    <div class="col-3">

                    <!-- Cantidad -->
                    <div class="quantity-controls" >
                    <h5 class="text-white">cantidad</h5>
                        <input type="number" style="width: 100px;" class="quantity-input" value="1" min="1">

                    </div>
                        
                    </div>

                    <div class="col-2">
                        <button type="button" class="btn custom-btn">Añadir al Carrito</button>

                    </div>

                    <div class="col-1">
                        <i class="bi bi-heart-fill fs-1"></i>
                    </div>
                </div>




                <div class="col-12">
                    <hr class="my-3 border border-white border-2">
                    <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Descripcción
                        </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the first item’s accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Información adicional
                        </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Reseñas
                        </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                        </div>
                    </div>
                    </div>
                </div>


            </div>

        </div>



<!--FILA3-->
        <div class="col-12">
            

        <h1 class="text-center text-white m-4">Productos Relacionados</h1>

            <!--fila2-->
            <div class="row">



    <!--Imagen 1-->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">

                    <div class="card" style="width: 18rem;">
                    <img src="../img/botas1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Zapato</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn custom-btn">Carrito</a> 
                        <a href="../../productos/html/producto.html" class="btn custom-btn ">ver</a>
                    </div>
                    </div>

                </div>



    <!--Imagen 2-->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">

                    <div class="card" style="width: 18rem;">
                    <img src="../img/botas2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Zapato</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn custom-btn">Carrito</a> 
                        <a href="../../productos/html/producto.html" class="btn custom-btn ">ver</a>
                    </div>
                    </div>

                </div>


                
    <!--Imagen 3-->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">

                    <div class="card" style="width: 18rem;">
                    <img src="../img/botas3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Zapato</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn custom-btn">Carrito</a> 
                        <a href="../../productos/html/producto.html" class="btn custom-btn ">ver</a>
                    </div>
                    </div>

                </div>


                
    <!--Imagen 4-->
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">

                    <div class="card" style="width: 18rem;">
                    <img src="../img/im11.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Zapato</h5>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn custom-btn">Carrito</a> 
                        <a href="../../productos/html/producto.html" class="btn custom-btn ">ver</a>
                    </div>
                    </div>
                
                </div>

            </div>
        </div>


    </div>



</div>





                                        <!--FOOTER-->
<footer class="bg-dark text-white">
    <div class="container-fluid">


        <div class="row finPag" >

<!--FILA 1-->
            <div class="col-12">


                <div class="row">

                    <div class="col-4">
                        <h4 class="text-center">Sobre Nosotros</h4>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#" class="text-white text-decoration-none">innovation Fusion</a></li>
                        </ul>
                    </div>


                    <div class="col-4">
                        <h4 class="text-center">Contacto</h4>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#" class="text-white text-decoration-none">innovationFusion@gmail.com</a></li>
                            <li class="text-center"><a href="#" class="text-white text-decoration-none">3655462742</a></li>
                        </ul>
                    </div>


                    <div class="col-4">
                        <h4 class="text-center">Redes Sociales</h4>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#" class="text-white text-decoration-none">
                                <i class="bi bi-facebook"></i>
                                <i class="bi bi-whatsapp"></i>
                                <i class="bi bi-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>


            </div>


<!--FILA 2-->
            <div class="col-12">
                <hr class="my-2 bg-dark border-2">
                <p class="text-center">© 2025 Innovation Fusion. Todos los derechos reservados.</p>
            </div>



        </div>


    </div>
</footer>
    <script src="../../../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>