/* Estilo contenedor principal */
.gesPagina {
    background-color: #FAF9F6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-left: 19%;
    margin-top: 2%;
    margin-right: 1%;
}

.gesPagina h1 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

/* Imagen de vista previa del banner */
#bannerPreview {
    width: 80%;
    margin-left: 10%;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* Formulario */
.bannerForm {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Botón guardar */
.bannerForm button {
    background-color: #e0b253;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.bannerForm button:hover {
    background-color: #e0b253;
}

/* Estilo para el slider de banners */
.bannerSlider {
    margin-top: 30px;
}

.bannerSlider .slide {
    margin-bottom: 15px;
    text-align: center;
}

.bannerSlider img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.delete-btn:hover {
    background-color: darkred;
}

/* Estilo para el input de archivo */
input[type="file"] {
    display: block; /* Asegúrate de que esté visible */
    visibility: visible;
    margin-bottom: 15px;
}
/* Estilo para el slider de banners */
.bannerSlider {
    margin-top: 30px;
}

.bannerSlider .slide {
    margin-bottom: 15px;
    text-align: center;
}

.bannerSlider img {
    width: 300px; /* La imagen ocupa el 100% del contenedor */
    height: 100px; /* Mantener la relación de aspecto */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin deformarse */
}
