<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../bootstrap/Iconos/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../seccionusuario/css/favoritos.css">
</head>
<body>
    <!--Navbar-->
    <div class="container-fluid">


    <nav class="navbar fixed-top bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../../principal/html/paginaInicio.html">InnovationFussion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">



            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Calzado
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../Zapatos/html/zapato.html">Mujer</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../Zapatos/html/zapato.html">Hombre</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../Zapatos/html/zapato.html">Niño</a></li>
            </ul>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Bolso
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Mujer</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Hombre</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Niño</a></li>
            </ul>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Novedades
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Mujer</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Hombre</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Niño</a></li>
            </ul>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Descuento
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Mujer</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Hombre</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../../bolsos/html/bolsos.html">Niño</a></li>
            </ul>
            </li>



<!--persona perfil-->
            <li class="nav-item">
            <a class="nav-link" href="../../seccionusuario/html/usuario.html">
                <i class="bi bi-person-fill"></i>
            </a>
            </li>

<!--Favoritos-->
            <li class="nav-item">
            <a class="nav-link" href="../../seccionusuario/html/favoritos.html">
                <i class="bi bi-heart-fill"></i>
            </a>
            </li>

<!--Carrito-->
 
            <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-cart-fill"></i>
            </a>
            </li>



        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>


    </div>


<!--NAVBAR-->






<!--BARRA DE NAVEGACION-->

<div class="row principalCol">

    <div class="col-lg-2">
    <nav class="nav flex-column">
        <h5><a class="nav-link active text-white" aria-current="page" href="../html/usuario.html"><i class="bi bi-person-fill"></i> Inicio de cuenta</a></h5>
        <h5><a class="nav-link text-white" href="../html/pedidos.html"><i class="bi bi-archive-fill"></i> Pedidos</a></h5>
        <h5><a class="nav-link text-white" href="../html/favoritos.html"><i class="bi bi-heart-fill"></i> Favoritos</a></h5>     
    </nav>
    </div>


    <!--barra de navegacion-->

    <div class="col-lg-10">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white">Mis Pedidos</h1>
                <p class="text-white">Ve y administra tus pedidos anteriores y pendientes.</p>
 
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h6 class="card-title">compra:1034234 20/02/2024 </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">EN PROCESO</h6>
                    <a href="../html/procesosPedido.html"><button type="button" class="custom-btn">VER</button></a>
                </div>
                </div>
                
                <hr class="my-2 border-2 text-white">
            </div>
            <div class="col-12">
                <h1  class="text-white">Historial de Pedidos</h1>
                <div class="row">
                    <div class="col-12 ">      
                        
                        <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <h6 class="card-title">compra:10545234 18/07/2020 </h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">EN PROCESO</h6>
                            <a href="../html/historialPedidos.html"><button type="button" class="btn custom-btn">VER</button></a>
                        </div>
                        </div>

                        <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <h6 class="card-title">compra:10476534 25/04/2025 </h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">EN PROCESO</h6>
                            <a href="../html/historialPedidos.html"><button type="button" class="btn custom-btn">VER</button></a>
                        </div>
                        </div>

                    </div>
                </div>
                <hr class="my-2 border-2 text-white">
            </div>

        </div>
    </div>

</div>


                                    <!--FOOTER-->
<footer class="bg-dark text-white text-center p-3">
    <div class="container-fluid">


        <div class="row finPag" >

<!--FILA 1-->
            <div class="col-12">


                <div class="row">

                    <div class="col-4">
                        <h4 class="text-center">Sobre Nosotros</h4>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#" class="text-white text-decoration-none">innovation Fusion</a></li>
                        </ul>
                    </div>


                    <div class="col-4">
                        <h4 class="text-center">Contacto</h4>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#" class="text-white text-decoration-none">innovationFusion@gmail.com</a></li>
                            <li class="text-center"><a href="#" class="text-white text-decoration-none">3655462742</a></li>
                        </ul>
                    </div>


                    <div class="col-4">
                        <h4 class="text-center">Redes Sociales</h4>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#" class="text-white text-decoration-none">
                                <i class="bi bi-facebook"></i>
                                <i class="bi bi-whatsapp"></i>
                                <i class="bi bi-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>


            </div>


<!--FILA 2-->
            <div class="col-12">
                <hr class="my-2 bg-dark border-2">
                <p class="text-center">© 2025 Innovation Fusion. Todos los derechos reservados.</p>
            </div>



        </div>


    </div>
</footer>



    <script src="../../../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>