:root {
    --primary-color: #E0B253;
    --secondary-color: #000000;
    --bg-body-dark: #000000;
    --bg-body-light: #ffffff;
    --text-light: #e4e9f7;
    --text-dark: #000000;
    --hover-color: #c89c3f;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

#navBarHome {
    background: var(--bg-body-light);
    font-size: 18px;
    position: sticky; /* Necesario para el pseudo-elemento */
    margin-top: -46px;
}

#navBarHome::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px; /* No empieza desde el borde izquierdo */
    right: 20px; /* No llega al borde derecho */
    height: 1px;
    background: var(--primary-color);
}

#navBarHome-container{
    padding: 2px !important;
    margin: 0 10px !important;
}

#navBarHome-calzado-btn , #navBarHome-bolsos-btn ,
#navBarHome-novedades-btn 
{
    color: var(--primary-color) !important;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 25px;
    border-radius: 25px;
}

 #navBarHome-cart-icon ,
#navBarHome-favorites-icon , #navBarHome-profile-icon ,
#navBarHome-profile-btn{
        color: var(--primary-color) !important;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}



#navBarHome-calzado-btn:hover, 
#navBarHome-bolsos-btn:hover,
#navBarHome-novedades-btn:hover {
    background-color: rgba(224, 178, 83, 0.2) !important;
    /* Convertir #E0B253 a rgba(224, 178, 83) */
     transition: all 0.5s ease;
}

#navBarHome-cart-icon:hover,
#navBarHome-favorites-icon:hover,
#navBarHome-profile-icon:hover {
    color: var(--hover-color) !important;
    filter: drop-shadow(0 0 10px rgba(224, 178, 83, 0.8));
    transform: scale(1.9);
     transition: all 0.3s ease;
}
  
#navBarHome-cart-icon{
    margin-right: 25px;
}

#navBarHome-calzado-btn{
    margin-left: 25px;
}

#navBarHome-brand{
    font-weight: bold;
    color: var(--primary-color);
    margin-left: 15px;
}

#navBarHome-brand:hover{
    transform: scale(1.1);
    margin-top: -5px;
     transition: all 0.5s ease;
}

#navBarHome-search-input{
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    color: var(--text-dark) !important;
    background: var(--bg-body-light);
}

#navBarHome-search-input::placeholder{
    color: var(--text-dark) !important;
}

#navBarHome-search-input:focus{
    box-shadow: 0 0 15px rgba(224, 178, 83, 0.6);
    border: 2px solid var(--primary-color);
}

#navBarHome-search-btn{
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 12px;
}

#navBarHome-search-btn:hover{
    background: var(--secondary-color);
    border: 1px solid var(--hover-color);
    box-shadow: 0 0 15px rgba(224, 178, 83, 0.6);
    color: var(--primary-color);
     transition: all 0.4s ease;
}


