<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovation Fusion - Inicio de Sesión</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ModuloUsuarios/IniciarSesion/cuadricula.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ModuloUsuarios/IniciarSesion/estiloInciarsesion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ModuloUsuarios/IniciarSesion/formulario final.css') }}">
   
</head>
<body>

    <div class="main-content-wrapper">

        <div class="container-fluid grid-container">
            <div class="row g-2 justify-content-center">
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img1.jfif') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img2.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img3.jfif') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img4.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img5.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img6.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>

                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img7.webp') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img8.png') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img9.jfif') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img10.webp') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img11.jpeg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img12.webp') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>

                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img13_.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img14.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img15.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img16.webp') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img17.webp') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img18.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>

                
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img19.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img20.webp') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img21.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img22.jpg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img23.jpeg') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>
                <div class="col-2"><div class="card custom-card"><div class="card-inner"><div class="card-front"><img src="{{ url_for('static', filename='uploads/profile_pictures/ModuloUsuarios/IniciarSesion/img24.webp') }}"></div><div class="card-back"><h5 class="text-dark">Imagen 1</h5></div></div></div></div>

            </div>
        </div>

       <div class="login-container">
        <form method="POST" action="{{ url_for('user_bp.login') }}">
            <h2>BIENVENIDOS A INNOVATION FUSION</h2>

            <label for="CorreoElectronico" class="form-label">Correo Electrónico:</label>
            <input type="email" name="email" id="CorreoElectronico" class="form-control" placeholder="Correo Electrónico" required />

            <label for="Contraseña" class="form-label">Contraseña:</label>
            <input type="password" name="password" id="Contraseña" class="form-control" placeholder="Contraseña" required />

            <div class="opciones">
                <p><a href="../../RecuperarContrasena/html/recuperar.html">¿Olvidó su Contraseña?</a></p>
            </div>

            <div class="boton-inicio">
                <input type="submit" class="btn btn-primary btn-1" value="Iniciar sesión" />
            </div>

            <div class="registro">
                <p class="no-tienes-cuenta">¿No tienes cuenta?</p>
                <a href="{{ url_for('user_bp.register') }}" class="btn btn-outline-primary btn-registrarse">Regístrate</a>
            </div>
        </form>
    </div>

    </div> <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='js/ModuloUsuarios/IniciarSesion/java.js') }}"></script>


</body>
</html>